@charset "utf-8";

html.fix{overflow-y:hidden}

/* input tag */
input[type="text"],
input[type="password"],
input[type="file"],
select{
	 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	position:relative;
	width:100%;
	height:27px;
	text-align:left;
	background:none;
	border:none;
	display:block;
	color:#666;
	line-height:1;
	outline:none;
	font-size:14px;
	border-radius:0
}
input[type="file"]{width:100%;line-height:normal;height:auto}
textarea{position:relative;width:100%;background:none}

select{	
	height:29px;	
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	zoom:1	
}
select::-ms-expand{display:none;}
img{max-width:100%;}

#wrap{position:relative;left:0;width:100%;min-height:100%;background:#e6e3cf;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease
}
#header{position:absolute;top:0;left:0;width:100%;z-index:998}
#header.h_main{position:fixed}
#header.mfix{position:absolute}
.header_wrap{position:relative;height:70px;max-width:1840px;margin:0 auto;padding-top:20px;}
.header_wrap h1{}
.header_wrap h1 a{color:#fff;}
.header_wrap h1 a span{display:block;}
.header_wrap .gnb{position:absolute;right:0;top:39px}
.header_wrap .gnb li{float:left;margin-left:13px;padding-left:14px;border-left:solid 1px #b6d8d4}
.header_wrap .gnb li:first-child{margin:0;padding:0;border:none;}
.header_wrap .gnb li a{font-size:16px;color:#fff}
.header_wrap .top_notice{position:absolute;left:0;top:35px;height:25px;padding-left:35px;line-height:25px;text-align:left;height:25px;overflow:hidden}
.header_wrap .top_notice > img{position:absolute;left:0;top:0}
.header_wrap .top_notice a{display:block;font-size:16px;color:#fff;word-break:break-all;white-space: nowrap;}

.m_gnb_btn{position:absolute;top:18px;left:0;display:none;height:30px;width:30px;z-index:60;}
.m_gnb_btn span{position:absolute;left:0;top:0;display:block;width:20px;height:1px;background:#fff;
	transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);	
	transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out
}
.m_gnb_btn span:first-child{top:0px;}
.m_gnb_btn span:nth-child(2){top:7px;}
.m_gnb_btn span:nth-child(3){top:7px;visibility: hidden;}
.m_gnb_btn span:nth-child(4){top:14px;}


.m_res_btn{position:absolute;right:0px;top:10px;width:43px;height:33px;display:none;padding-top:10px;line-height:14px;font-size:12px;color:#55958e !important;font-weight:bold;border:solid 1px #51938c;background:#ffde00;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.m_res_btn:hover,
.m_res_btn:focus{background:#ffde00;}

.m_gnb_wrap{position:absolute;top:0;right:0;width:100%;height:100%;display:none;text-align:left;z-index:99999;}
.m_gnb_wrap .m_gnb_bg{position:absolute;width:100%;height:100%;}
.m_gnb_wrap .gnb_list .res_btn{margin:60px 0 40px;text-align:center;}
.m_gnb_wrap .gnb_list .res_btn a{position:relative;	display:block;padding:17px 0 11px 40px;font-size:22px;color:#333;font-weight:bold;background:#fff;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px
}
.m_gnb_wrap .gnb_list .res_btn a img{position:absolute;left:50%;top:50%;margin:-17.5px 0 0 -80px;}
.m_gnb_wrap .gnb_list{position:absolute;top:0;left:-293px;width:253px;height:100%;padding:0 20px;background:#38615d;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index:100
}
.m_gnb_wrap .gnb_list.open{left:0}
.m_gnb_wrap .gnb_list ul li{position:relative;padding-left:20px;border-bottom:solid 1px #60817d}
.m_gnb_wrap .gnb_list ul li:first-child{border-top:solid 1px #60817d;}
.m_gnb_wrap .gnb_list ul li:after{content:"";position:absolute;left:5px;top:50%;width:4px;height:4px;margin-top:-2px;background:#fff000;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.m_gnb_wrap .gnb_list ul li a{line-height:45px;font-size:16px;color:#fff;}
.m_gnb_wrap .gnb_close{position:absolute;left:20px;top:20px;}


#container{position:relative;max-width:1860px;margin:0 auto;padding:160px 10px 0 10px}
#container.main{padding-top:103px;}
#contents{padding-top:80px}


#footer{padding:80px 0}
#footer h2{padding-top:20px}
#footer address{padding-top:15px;color:#a09d84;font-family:'Noto Sans KR'}
#footer address p{padding-top:5px;}
#footer address span{display:inline-block;margin-left:3px;padding-left:9px;border-left:solid 1px #9d997e}
#footer address span:first-child{margin:0;padding:0;border:none}

.btn_scroll{position:fixed;right:5px;bottom:5px;width:50px;display:none;}
.btn_scroll a{display:block;color:#fff;font-weight:500}
.btn_scroll .up a{padding:33px 0 10px;background:#6cb0a9 url("../../images/common/bg_scroll_up.png") no-repeat center 30%;
	-webkit-border-radius:48% 48% 0 0;
	-moz-border-radius:48% 48% 0 0;
	border-radius:48% 48% 0 0;
}
.btn_scroll .down a{padding:10px 0 33px;background:#666 url("../../images/common/bg_scroll_down.png") no-repeat center 70%;
	-webkit-border-radius:0 0 48% 48%;
	-moz-border-radius:0 0 48% 48%;
	border-radius:0 0 48% 48%;
}

.d_t{display:table;width:100%;height:100%;table-layout:fixed}
.d_c{display:table-cell;width:100%;vertical-align:middle}

.btn_type01{display:inline-block;width:56px;padding:10px;line-height:20px;font-size:15px;text-align:center;font-weight:500;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px
}
.btn_type02{display:inline-block;height:34px;min-width:57px;padding:0 13px;line-height:34px;font-size:16px;text-align:center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px	
}
.btn_type03{display:inline-block;height:56px;min-width:145px;padding:0 20px;line-height:56px;font-size:20px;text-align:center;
	-webkit-border-radius:30px;
	-moz-border-radius: 30px;
	border-radius:30px	
}
.btn_type04{display:inline-block;height:23px;padding:0 10px;line-height:23px;font-size:12px;text-align:center;
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius:2px	
}

.btn_type05{display:inline-block;height:48px;min-width:60px;padding:0 25px;line-height:48px;font-size:16px;text-align:center;
	-webkit-border-radius:26px;
	-moz-border-radius: 26px;
	border-radius:26px	
}

.btn_c01{color:#d24ba4 !important;border:solid 1px #d24ba4;background-color:#fff}
.btn_c01:hover,
.btn_c01:focus{color:#fff !important;border:solid 1px #d24ba4;background-color:#d24ba4}
.btn_c02,
.btn_c02:hover,
.btn_c02:focus{color:#888 !important;border:solid 1px #d4d2c4;background-color:#f1f1f1}
.btn_c03,
.btn_c03:hover,
.btn_c03:focus{color:#fff !important;border:solid 1px #d24ba4;background-color:#d24ba4}
.btn_c04,
.btn_c04:hover,
.btn_c04:focus{color:#fff !important;border:1px solid #b0b0b0;background-color:#b0b0b0}
.btn_c05,
.btn_c05:hover,
.btn_c05:focus{color:#fff !important;border:1px solid #bb4191;background-color:#bb4191}
.btn_c06,
.btn_c06:hover,
.btn_c06:focus{color:#fff !important;border:solid 1px #666;background-color:#666}
.btn_c07,
.btn_c07:hover,
.btn_c07:focus{color:#888 !important;border:solid 1px #cbcbcb;background-color:#fff}


/* form */
table .tl{text-align:left !important}
table .tc{text-align:center !important}
table .tr{text-align:right !important}
table .bl{border-left:none !important}
table .br{border-right:none !important}
table .vt{vertical-align:top !important}
table .nPd{padding:0 !important}
table .char{margin:0 5px !important}
table a,table img,table span,table label,table input{vertical-align:middle}

table.input_data{width:100%;table-layout:fixed}
table.input_data td,table.input_data th{font-size:14px;line-height:20px;text-align:left;vertical-align:middle;padding:10px;border-top:1px solid #e6e3cf;border-bottom:1px solid #e6e3cf;height:30px}
table.input_data .t_m_title{color:#444;font-size:14px;margin-bottom:5px;font-weight:700}
table.input_data .info_label{display:inline-block;font-size:13px;color:#888;margin-left:5px;line-height:18px;vertical-align:middle}
table.input_data .info_label input{margin-right:5px}
table.input_data select{height:28px;background:#fbfbfb url(../../images/common/input_select_arrow.gif) right top no-repeat}

table.list_data{width:100%}
table.list_data td,table.list_data th{height:30px;padding:10px;font-size:14px;line-height:20px;text-align:center;vertical-align:middle}
table.list_data th{border:1px solid #e6e3cf;border-right:none;background:#faf9f5}
table.list_data td{padding:10px 20px;border:1px solid #e6e3cf;border-right:none;background:#fff}
table.list_data th:first-child,table.list_data td:first-child{border-left:none;}
table.list_data .data_num{font-size:15px;font-weight:600;}

/* mulity checkbox */
.check_wrap{}
.check_wrap p{display:inline-block;zoom:1;*display:inline;margin:2px 20px 2px 0}
.check_wrap p input{margin-right:5px}

/* block input */
.b_wrap{position:relative;display:block;height:28px;padding-left:10px;border:solid 1px #dcdcdc;background:#f7f7f7;width:auto;max-width:100%}
.b_wrap input{height:28px}

/* inlin block input*/
.i_wrap{position:relative;display:inline-block;height:28px;padding-left:10px;border:solid 1px #dcdcdc;background:#f7f7f7;width:auto;max-width:100%;vertical-align:middle}
.i_wrap input{height:28px}

/* textarea input */
.t_wrap{position:relative;display:block;border:solid 1px #dcdcdc;background:#f7f7f7;width:auto;max-width:100%;padding:10px}
.t_wrap textarea{height:45px}

/* paiging */
.paging{margin-top:20px;text-align:center}
.paging img{vertical-align:middle}
.paging ol{display:inline-block;zoom:1;*display:inline}
.paging ol li{display:inline}
.paging ol li a,
.paging ol li span{display:block;float:left;font-size:14px;text-align:center;width:28px;height:28px;line-height:28px;}
.paging ol li a.prev{margin-right:5px}
.paging ol li a.next{margin-left:5px}
.paging ol li .current{cursor:default}
.paging ol li .current{color:#fff;background:#7d7d7d;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.list_bottom{position:relative;min-height:50px;margin-top:20px;text-align:center}
.list_bottom .paging{margin-top:20px;}
.list_bottom .btn_right{position:absolute;right:0;top:0}

.btn_list {margin-top:30px;text-align:center;}
.btn_list a{margin:0 3px;}

.p_b{display:block}
.p_bl{display:inline-block} 
.p_l{display:inline}
.p_tc{display:table-cell}
.p_tl{display:table-column}
.t_b{display:block}
.t_bl{display:inline-block} 
.t_l{display:inline}
.t_tc{display:table-cell}
.t_tl{display:table-column}
.m_b{display:block}
.m_bl{display:inline-block} 
.m_l{display:inline}
.m_tc{display:table-cell}
.m_tl{display:table-column}


.t_layout_b{display:block}
.t_layout_bl{display:inline-block} 
.t_layout_l{display:inline}
.t_layout_tc{display:table-cell}
.t_layout_tl{display:table-column}

.m_layout_b{display:block}
.m_layout_bl{display:inline-block} 
.m_layout_l{display:inline}
.m_layout_tc{display:table-cell}
.m_layout_tl{display:table-column}

.t_con_b{display:none}
.t_con_bl{display:none} 
.t_con_tc{display:none} 
.t_con_l{display:none}

.t_only_b{display:none}

.m_con_b{display:none}
.m_con_bl{display:none} 
.m_con_l{display:none}
.m_con_tc{display:none}

.clock{position:absolute;top:50%;left:14px;width:28px;height:28px;margin-top:-18px;overflow:hidden;border:4px solid #d24ba4;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.clock p{position:absolute;top:0;left:50%;margin-left:-2px;width:4px;height:100%;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease}
.clock p span{position:absolute;bottom:50%;left:0;width:100%;height:50%;padding-bottom:4px;margin-bottom:-2px;background:#d24ba4;-webkit-border-radius: 0px 0px 2px 2px;-moz-border-radius: 0px 0px 2px 2px;border-radius: 0px 0px 2px 2px}
.clock p.hour span{height:30%}
.clock p.min span{height:32%}


.loadSpinner {margin:0 auto;height: 40px;text-align: center;font-size: 10px;}
.loadSpinner > div {background-color:#bb4191;height:100%;width:4px;margin:0 1px;display: inline-block;-webkit-animation: sk-stretchdelay 0.9s infinite ease-in-out;animation: sk-stretchdelay 0.9s infinite ease-in-out;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px}
.loadSpinner .rect2 {-webkit-animation-delay: -0.8s;animation-delay: -0.8s}
.loadSpinner .rect3 {-webkit-animation-delay: -0.7s;animation-delay: -0.7s}
.loadSpinner .rect4 {-webkit-animation-delay: -0.6s;animation-delay: -0.6s}
.loadSpinner .rect5 {-webkit-animation-delay: -0.5s;animation-delay: -0.5s}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}



/* desktop 1880 */
@media screen and (max-width:1880px){	
	.header_wrap{margin:0 20px;}
	
   
}


/* desktop 1920 */
@media screen and (max-width:1920px){	

	
}


/* desktop 1600 */
@media screen and (max-width:1600px){	

}

/* desktop 1440 */
@media screen and (max-width:1440px){	

}

/* desktop 1366 */
@media screen and (max-width:1366px){

}

/* desktop 1280 */
@media screen and (max-width:1280px){
	

}

/* desktop 1024 */
@media screen and (max-width:1024px){			
	.p_b{display:none}
	.p_bl{display:none} 
	.p_l{display:none}
	.p_tc{display:none}
	.p_tl{display:none}
	.t_b{display:block}
	.t_bl{display:inline-block} 
	.t_l{display:inline}
	.t_tc{display:table-cell}
	.t_tl{display:table-column}
	.m_b{display:none}
	.m_bl{display:none} 
	.m_l{display:none}
	.m_tc{display:none}
	.m_tl{display:none}

	.t_layout_b{display:none}
	.t_layout_bl{display:none} 
	.t_layout_l{display:none}
	.t_layout_tc{display:none}
	.t_layout_tl{display:none}

	.t_con_b{display:block}
	.t_con_tc{display:table-cell}
	.t_con_bl{display:inline-block} 
	.t_con_l{display:inline}

	.t_only_b{display:block}

	.m_con_tc{display:none}	

	#header{position:fixed}

	#container{padding:150px 10px 0 10px}
	#container.main{padding-top:0}
	#contents{padding-top:40px;}

	.open .header_wrap{margin:0;background:#6cb0a9}
	.header_wrap{height:60px;padding-top:10px;}
	.header_wrap h1 img{width:82px}
	.header_wrap .gnb{display:none;}
	.header_wrap .top_notice{display:none;}
	.m_gnb_btn{display:block;}
	.m_res_btn{display:block;}

	.clock{top:15%;left:50%;margin:0 0 0 -18px;}

	
}
/* mobie 1023 */
@media screen and (max-width:1023px){	
	
}

/* mobie 960 */
@media screen and (max-width:960px){
	
}
/* mobie 900 */
@media screen and (max-width:900px){
	
}

/* mobie 800 */
@media screen and (max-width:800px){

}

/* mobie 768 */
@media screen and (max-width:768px){
	.p_b{display:none}
	.p_bl{display:none} 
	.p_l{display:none}	
	.p_tc{display:none}
	.p_tl{display:none}
	.t_b{display:none}
	.t_bl{display:none} 
	.t_l{display:none}
	.t_tc{display:none}
	.t_tl{display:none}
	.m_b{display:block}
	.m_b{display:block}
	.m_bl{display:inline-block} 
	.m_l{display:inline}
	.m_tc{display:table-cell}
	.m_tl{display:table-column}

	.m_layout_b{display:none}
	.m_layout_bl{display:none} 
	.m_layout_l{display:none}
	.m_layout_tc{display:none}
	.m_layout_tl{display:none}

	.m_con_b{display:block}
	.m_con_bl{display:inline-block} 
	.m_con_l{display:inline}
	.m_con_tc{display:table-cell}

	.t_only_b{display:none}

	.m_only_b{display:none}

	.b_wrap{width:auto !important}
	.i_wrap{width:auto !important;display:block}
	.i_email .select{margin-top:5px;}

	.header_wrap{margin:0 10px;}
	.open .m_gnb_btn{left:10px}
	.open .m_res_btn{right:10px;}

	table.list_data .bl_none{border-left:none;}

	.list_bottom{min-height:auto}
	.list_bottom .btn_right{position:static;margin-top:20px;text-align:center}

}

}

/* mobie 736 */
@media screen and (max-width:736px){

}

/* mobie 720 */
@media screen and (max-width:720px){

}
/* mobie 667 */
@media screen and (max-width:667px){	

}

/* mobie 640 */
@media screen and (max-width:640px){	
	.btn_list a{display:block;margin:5px 0;}

	

}
/* mobie 568 */
@media screen and (max-width:568px){

}
/* mobie 480 */
@media screen and (max-width:480px){	
	
}

/* mobie 420 */
@media screen and (max-width:420px){
	
}

/* mobie 414 */
@media screen and (max-width:414px){

}
/* mobie 384 */
@media screen and (max-width:384px){

}
/* mobie 375 */
@media screen and (max-width:375px){

}
/* mobie 360 */
@media screen and (max-width:360px){

}

/* mobie 320 */
@media screen and (max-width:320px){
	
}

@media screen and (-webkit-min-device-pixel-ratio:2),screen and (-webkit-min-device-pixel-ratio:1.5){
	
}




/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}